<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/util 
   		http://www.springframework.org/schema/util/spring-util.xsd">

<context:property-placeholder ignore-unresolvable="true" 
location="classpath:springCoreTaskStorage.properties"/>
     
    <bean id="dateFormat" class="java.text.SimpleDateFormat">
        <constructor-arg value="yyyy-MM-dd HH:mm:ss" />
    </bean>

	<bean id="storage" class="com.epam.mentoring.dao.Storage"
	init-method="init">
	</bean>

    <bean id="userDao" class="com.epam.mentoring.dao.UserDao">
    	<property name="storage"><ref bean='storage'/></property>
    </bean>
    
    <bean id="userService" class="com.epam.mentoring.service.impl.UserServiceImpl"
    autowire="byName">
    </bean>

    <bean id="eventDao" class="com.epam.mentoring.dao.EventDao">
    	<property name="storage"><ref bean='storage'/></property>
    </bean>
    
      <bean id="eventService" class="com.epam.mentoring.service.impl.EventServiceImpl"
    autowire="byName">
    </bean>

    <bean id="ticketDao" class="com.epam.mentoring.dao.TicketDao">
    	<property name="storage"><ref bean='storage'/></property>
    </bean>
    
     <bean id="ticketService" class="com.epam.mentoring.service.impl.TicketServiceImpl"
    autowire="byName">
    </bean>
    
    <bean id="bookingFacade" class="com.epam.mentoring.facade.impl.BookingFacadeImpl">
    	<constructor-arg index="0">
   			 <ref bean="userService"/>
 		 </constructor-arg>
    	<constructor-arg index="1">
   			 <ref bean="eventService"/>
 		 </constructor-arg>
    	<constructor-arg index="2">
   			 <ref bean="ticketService"/>
 		 </constructor-arg>
    </bean>


    <!-- more bean definitions go here -->

</beans>